body {
    background-color: #1f1f1f; /* Dark grey background */
    color: white; /* Sets text color to white for contrast */
}
header {
    text-align: center; /* Centers the header text horizontally */
}
.gallery {
    display: grid; /* Creates the grid of images */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 10px;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }